* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container .element {
  width: 600px;
  height: 700px;
  border: 1px solid black;
}
.container .element .box {
  width: 100%;
  min-height: 600px;
}
.container .element .box__custom-file-upload {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 30px auto 0 auto;
  width: 300px;
  height: 60px;
  color: white;
  background-color: rgba(16, 168, 214, 0.717);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 22px;
}
.container .element .box__imageInput {
  display: none;
}
.container .element .box__target-element {
  width: 300px;
  height: 200px;
  border: 2px solid #333;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 35px auto 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: monospace;
}
.container .element .box #textarea {
  width: 300px;
  height: 150px;
  display: block;
  margin: 30px 0 0 150px;
  resize: none;
  padding: 15px 0 0 20px;
  font-size: 20px;
}
.container .element .box #submit {
  width: 300px;
  height: 60px;
  color: white;
  background-color: rgba(16, 168, 214, 0.717);
  border-radius: 20px;
  display: block;
  margin: 25px auto 0px auto;
  transition: background-color 0.3s ease;
  font-size: 22px;
}
.container .element .box #submit:hover {
  background-color: #2980b9;
  cursor: pointer;
}
.container .element .box__headerPost {
  width: 100%;
  height: 100px;
  background-color: rgba(178, 178, 178, 0.77);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  font-family: monospace;
}
.container .element .box__post {
  width: 300px;
  height: 400px;
  margin: 50px auto 0 auto;
}
.container .element .box__post__postImg {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}
.container .element .box__post__postText {
  width: 300px;
  height: 170px;
  margin-top: 30px;
  padding: 15px 0 0 20px;
  font-size: 20px;
  border-radius: 20px;
}
.container .element .box__post__changePostText {
  width: 300px;
  height: 170px;
  margin-top: 30px;
  padding: 15px 0 0 20px;
  font-size: 20px;
  border-radius: 20px;
  display: none;
  border: 5px solid green;
}
.container .element .box__panelBottom {
  width: 600px;
  height: 100px;
  background-color: rgba(178, 178, 178, 0.77);
  position: absolute;
  top: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container .element .box__panelBottom__btnTextPost {
  color: white;
  display: block;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 22px;
  padding-top: 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  background-color: #3498db;
}
.container .element .box__panelBottom__btnTextPost:hover {
  background-color: #2980b9;
  cursor: pointer;
}
.container .element .box__panelBottom__save {
  display: none;
  background-color: lightseagreen;
}/*# sourceMappingURL=main.css.map */